<html th:replace="student/studentbase::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<div class="row shadow">
			<div class="col-sm-12">
				<h3 class="text-center py-4">Online Test</h3>
				<input type="hidden" id="jsonData" th:value="${json}" />
			</div>
		</div>
		<div class="container-fluid">
			<div class="row mt-2">
				<div class="col-sm-6 text-center">
					<b>Total Alloted Time : </b>
					<label th:text="${tt}" id="TTime" class="form-label"></label>
				</div>
				<div class="col-sm-6 text-center">
					<b>Total Alloted Question : </b>
					<label th:text="${tq}" id="TQuestion" class="form-label"></label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 p-2" style="background-color: orangered;">
					<span style="color: white;">
						<label id="lblqno" style="font-size: 23px;font-weight:600;"></label>
					</span>
					<span style="color: white;">
						<label id="lblquestion" style="font-size: 23px;font-weight:600;"></label>
					</span>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-12 p-1">
					<div class="alert alert-secondary px-5 pt-4">
						<h6>
							<input type="radio" id="a" class="form-check-input" name="option" value="A">
							&nbsp; &nbsp;
							<label class="form-label" for="A" id="lblA" style="font-size: 20px;"></label>
						</h6>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-12 p-1">
					<div class="alert alert-secondary px-5 pt-4">
						<h6>
							<input type="radio" id="b" class="form-check-input" name="option" value="B">
							&nbsp; &nbsp;
							<label class="form-label" for="B" id="lblB" style="font-size: 20px;"></label>
						</h6>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-12 p-1">
					<div class="alert alert-secondary px-5 pt-4">
						<h6>
							<input type="radio" id="c" class="form-check-input" name="option" value="C">
							&nbsp; &nbsp;
							<label class="form-label" for="C" id="lblC" style="font-size: 20px;"></label>
						</h6>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-12 p-1">
					<div class="alert alert-secondary px-5 pt-4">
						<h6>
							<input type="radio" id="d" class="form-check-input" name="option" value="D">
							&nbsp; &nbsp;
							<label class="form-label" for="D" id="lblD" style="font-size: 20px;"></label>
						</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 mt-3">
					<span style="font-size: 18px; font-weight:600;">
						Time Left : <label id="timer" style="font-size: 18px;font-weight:600;"></label>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 mt-3">
					<button type="button" id="ButtonNext" class="btn btn-warning px-5">
						Next
					</button>
				</div>
			</div>
		</div>
	<script src="/js/exam.js" type="text/javascript"></script>
	</section>
	
</body>

</html>