<html th:replace="student/studentbase::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<div class="row p-5">
			<div class="col-sm-9 mx-auto p-5">
				<div class="card w-100 text-center shadow">
					<br />
					<br />
					<h1 style="color: orangered;font-family:monotype-corsiva;font-style:italic;font-size:45px;">
						Congratulations !!!
					</h1>
					<p style="font-size:20px">Your Test has been Submitted Successfully <br /> Results will be Declared
						Soon...</p>
					<br />
					<br />
					<br />
					<a href="studenthome">
						<button class="btn text-white" Style="background-color: orangered;">Go to Homepage</button>
					</a>
					<br />
					<br />
				</div>
			</div>
		</div>
	</section>
</body>

</html>