<html lang="en" th:replace="admin/adminbase::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Online Test Portel</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<section>
	<div class="row">
		<div class="col-sm-12">
		<h1 class="text-center mx-auto text-primary fw-bold">Add Question</h1>
		</div>
		<div class="col-sm-12" th:if="${msg}">
			<p th:text="${msg}" style="color: green; text-align: center;"></p>
		</div>
		<div class="col-sm-12">
		<form class="form-group" method="post" th:object="${dto}">
			<table class="table table-bordered" style="width: 80%; margin: auto;">
				<tr>
					<td>Select Year</td>
					<td>
						<select class="form-control" th:field="${dto.year}">
							<option value="1st Year">1st Year</option>
							<option value="2nd Year">2nd Year</option>
							<option value="3rd Year">3rd Year</option>
							<option value="4th Year">4th Year</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Enter Your Question</td>
					<td>
						<textarea class="form-control" th:field="${dto.question}" required></textarea>
					</td>
				</tr>
				<tr>
					<td>A</td>
					<td>
						<textarea class="form-control" th:field="${dto.a}" required></textarea>
					</td>
				</tr>
				<tr>
					<td>B</td>
					<td>
						<textarea class="form-control" th:field="${dto.b}" required></textarea>
					</td>
				</tr>
				<tr>
					<td>C</td>
					<td>
						<textarea class="form-control" th:field="${dto.c}" required></textarea>
					</td>
				</tr>
				<tr>
					<td>D</td>
					<td>
						<textarea class="form-control" th:field="${dto.d}" required></textarea>
					</td>
				</tr>
				<tr>
					<td>Correct Option</td>
					<td>
						<select class="form-control" th:field="${dto.correct}">
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
							<option value="D">D</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" class="btn btn-success">Submit</button>
					</td>
				</tr>
			</table>
		</form>
		</div>
	</div>
	</section>
</body>

</html>