<html th:replace="admin/adminbase::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<div class="row d-flex">
			<div class="col-sm-12">
				<h1 class="text-center mx-auto text-primary fw-bold">Manage Result</h1>
			</div>

			<div class="col-sm-12" th:if="${msg}">
				<h4 class="dismissable" style="background-color: mediumseagreen; color: white;padding: 20px;"
					th:text="${msg}"></h4>
			</div>
			<div class="col-sm-12" style="height: 90vh;width:100%;overflow:scroll">
				<table class="table table-bordered">
					<thead class="table-danger">
						<tr>
							<th>Name</th>
							<th>Email Address</th>
							<th>Contact no.</th>
							<th>College/University</th>
							<th>Course</th>
							<th>Branch</th>
							<th>Year</th>
							<th>Total marks</th>
							<th>Marks Obtained</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="r:${rlist}">
							<td th:text="${r.name}"></td>
							<td th:text="${r.emailaddress}"></td>
							<td th:text="${r.contactno}"></td>
							<td th:text="${r.collegename}"></td>
							<td th:text="${r.course}"></td>
							<td th:text="${r.branch}"></td>
							<td th:text="${r.year}"></td>
							<td th:text="${r.totalmarks}"></td>
							<td th:text="${r.getmarks}"></td>
							<td>
								<a th:href="@{manageresult/delete(emailaddress=${r.emailaddress})}">
									<button type="button" class="btn btn-danger"
										onclick="return confirm('are you sure want to delete?')">Delete</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>