<html th:replace="admin/adminbase::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#searchInput").on("keyup", function () {
					var value = $(this).val().toLowerCase();
					$("#myTable tr").filter(function () {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
					});
				});
			});
		</script>
		<div class="row ">
			<div class="col-sm-12">
				<h2 class="text-primary text-center mx-auto fw-bold">Manage Question</h2>
			</div>
			<div class="col-sm-12" th:if="${msg}">
				<p th:text="${msg}" class="text-danger fs-5"></p>
			</div>
			<input type="text" id="searchInput" placeholder="Enter any word to search" class="form-control" />
			<br /><br />
			<div class="col-sm-12" style="height: 90vh;width:100%;overflow:scroll;overflow-x:auto;">
				<table class="table table-bordered">
					<thead class="table-danger">
						<tr>
							<th>Year</th>
							<th>Question</th>
							<th>Option A</th>
							<th>Option B</th>
							<th>Option C</th>
							<th>Option D</th>
							<th>Correct Answer</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody id="myTable">
						<tr th:each="q:${qblist}">
							<td th:text="${q.year}"></td>
							<td th:text="${q.question}"></td>
							<td th:text="${q.a}"></td>
							<td th:text="${q.b}"></td>
							<td th:text="${q.c}"></td>
							<td th:text="${q.d}"></td>
							<td th:text="${q.correct}"></td>
							<td>
								<a th:href="@{viewqb/delete(id=${q.id})}">
									<button class="btn btn-danger"
										onclick="return confirm ('Are you sure want to delete?')">Delete</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>