<html th:replace="admin/adminbase::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<div class="row d-flex">
			<div class="col-sm-12">
			<h1 class="text-center mx-auto text-primary fw-bold">Manage Enquiries</h1>
			</div>
		
			<div class="col-sm-12" th:if="${msg}">
				<h4 class="dismissable" style="background-color: mediumseagreen; color: white;padding: 20px;"
					th:text="${msg}"></h4>
			</div>
			<div class="col-sm-12" style="height: 90vh;width:100%;overflow:scroll">
				<table class="table table-bordered">
					<thead class="table-danger">
						<tr>
							<th>Name</th>
							<th>Gender</th>
							<th>Contact no</th>
							<th>Email Address</th>
							<th>Enquiry Text</th>
							<th>Post Date</th>
							<th>Delete</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${elist}">
							<td th:text="${e.name}"></td>
							<td th:text="${e.gender}"></td>
							<td th:text="${e.contactno}"></td>
							<td th:text="${e.emailaddress}"></td>
							<td th:text="${e.enquirytext}"></td>
							<td th:text="${e.posteddate}"></td>
							<td>
								<a th:href="@{viewenquiry/delete(id=${e.id})}">
									<button onclick="return confirm ('Are you sure want to delete?')"
										class="btn btn-danger">Delete</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>