<html lang="en" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
   <section>
	<p class="p-5">
		As we strive to enhance the professional development opportunities for the students of AKTU, Softpro India is offering Free Summer Internship Program in collaboration with Dr A P J Abdul Kalam Technical University under the MoU services signed with Softpro India & AKTU, specifically tailored for the Ist, IInd & IIIrd year students pursuing B.Tech in Computer Science, Information Technology and CS Allied Branches, Mechanical, Civil, Electrical, Electronics. This program aims to provide students with valuable industry exposure, hands-on experience in the latest technologies, and an avenue for practical application of theoretical knowledge.
	</p>
   </section>
  </body>
</html>