<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
</head>
<body>
	<section>
		<!--header-->
		<div class="container-fluid">
		    <div class="row p-3 " style="background-image: url('https://www.tantiauniversity.com/assets/images/upcoming.jpg');">

		        <div class="col-sm-12 text-center">
		            <img src="./images/University_logo.png" height="200px" alt="">
		        </div>
		        <div class="col-sm-12 text-center">
		            <h4 class="mt-3" style="font-size: 40px; font-weight: 900;">
		                FREE SUMMER <span style="color:#ef662f;">INTERNSHIP 2024</span>
		            </h4>
		            <h6 class="mt-2 fw-bold " style="color: #ef662f; font-size:25px;">
		                ORGANIZED BY DR. A. P. J. ABDUL KALAM
		                TECHNICAL UNIVERSITY, LUCKNOW
		            </h6>
		            <p class="mt-2 fw-bold " style="color: black; font-size: 19px;">
		                (IN ASSOCIATION WITH SOFTPRO INDIA
		                COMPUTER TECHNOLOGIES (P) LTD)
		            </p>
		        </div>
		    </div>
		</div>
		<div class="container-fluid">
		    <!-- silder -->
		    <div class="row">
		        <div class="col-sm-12 p-0 mt-1">
		            <img src="./images/unnamed.jpg" class="w-100 silder" height="500px" alt="">
		        </div>
		    </div>
		    <!-- silder -->
		    <!-- reg -->
		    <div class="row p-2 mt-1" style="background-color: #ef662f;">
		        <div class="col-sm-7 my-auto text-end pt-4">
		            <p style="font-size: 23px; font-weight: 700;">Apply For Free Summer Internship Test - 2024</p>
		        </div>
		        <div class="col-sm-5 my-auto ">
		            <a href="/registration"><button class="btn fw-bold" style="background-color:white; color:black; height:50px; font-size:17px;">
		                Apply Now &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
		            </button></a>
		        </div>
		    </div>
		    <!-- reg -->
		</div>
		<!--header end-->
		<!--Content Section-->
		<!-- main Section -->
		<div class="container">
		    <div class="row mt-4 mb-4">
		        <div class="col-sm-12 mb-4">
		                <h2 style="color: #ef662f; font-weight: 600;" class="text-center">Free Summer Internship</h2>
		            <h5><span style="font-weight: 700; color:#ef662f;">Program Details </span> </h5>
		            <p style="text-align:justify;font-size:17px; color: black;">
		                As we strive to enhance the professional
		                development opportunities for the students of AKTU, Softpro India is offering Free Summer Internship Program in collaboration with Dr A P
		                J Abdul Kalam Technical University under the MoU services signed with Softpro India & AKTU,
		                specifically tailored for the Ist, IInd & IIIrd year students pursuing B.Tech in Computer Science,
		                Information Technology and CS Allied Branches, Mechanical, Civil, Electrical, Electronics. This
		                program aims to provide students with valuable industry exposure, hands-on experience in the
		                latest
		                technologies, and an avenue for practical application of theoretical knowledge.
		            </p>
		            <h5><span class="fw-bold" style="color: #ef662f;">Importance of Summer Internship </span> </h5>
		            <p style="text-align: justify; font-size: 17px; color: black;">
		                <b>1.&nbsp;Bridging the Gap between Academia and Industry :</b> Summer Internships provide
		                students with
		                an invaluable opportunity to bridge the gap between theoretical knowledge acquired in classrooms
		                and
		                practical application in real-world scenarios. By working on live projects and interacting with
		                industry
		                professionals, students gain insights into industry practices, trends, and challenges, thus
		                preparing them
		                for the transition from academia to the professional realm.
		            </p>
		            <p style="text-align:justify;font-size:17px; color: black; ">
		                <b>2.&nbsp;Skill Enhancement and Professional Development:</b> Engaging in summer internship
		                programs
		                allows students to enhance their technical skills, communication abilities, teamwork, and
		                problem
		                solving capabilities. Exposure to cutting-edge technologies and hands-on experience in project
		                execution equips students with the competencies required to thrive in today's dynamic and
		                competitive
		                job market.
		            </p>
		            <p style="text-align: justify; font-size: 17px; color: black; ">
		                <b>3.&nbsp;Networking and Career Opportunities:</b> Summer internships offer students a platform
		                to network
		                with professionals, build meaningful connections, and explore potential career opportunities.
		                Building
		                a strong professional network early in their academic journey can significantly enhance
		                students'
		                prospects for securing employment post-graduation.
		            </p>
		            <!--3Section-->
		            <div class="container-fluid">
		                <h3 class="mt-5 mb-5 text-center fw-bold" style="color:#ef662f;">
		                    Steps to Participate in the Test for the Free Summer Internship Program
		                </h3>
		                <!--Steps start-->
		                <section class="steps mb-5">
		                    <div class="container">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <div class="common">
		                                    <div class="different">
		                                        <a href="#" class="different-content" style="text-decoration:none">
		                                            <span class="year"><img src="./images/hello.jpg" class="img-fluid rounded-circle" style="margin-top:-10px;"></span>
		                                            <div class="inner-content">
		                                                <h3 class="title">Step-1</h3>
		                                                <p class="description">
		                                                    Register on the portal to apply for Free Internship.
		                                                </p>
		                                            </div>
		                                        </a>
		                                    </div>
		                                    <div class="different">
		                                        <a href="#" class="different-content" style="text-decoration:none">
		                                            <span class="year"><img src="https://static.vecteezy.com/system/resources/previews/010/873/282/original/3d-man-and-women-communicating-with-each-other-illustration-png.png" class="img-fluid" style="height:120px;"></span>
		                                            <div class="inner-content" style="margin-left:70px;">
		                                                <h3 class="title">Step-2</h3>
		                                                <p class="description">
		                                                    Join the Online Pre Placement Talk about Summer Internship before attempting the test on the link shared on your registered Mail ID & WhatsApp
		                                                </p>
		                                            </div>
		                                        </a>
		                                    </div>
		                                    <div class="different">
		                                        <a href="#" class="different-content" style="text-decoration:none">
		                                            <span class="year"><img src="https://files.seniorweb.nl/uploadedimages/wwwseniorwebnl/gesprek%20whatsapp%20mailen.png" style="height:75px; margin-top:-10px;" class="img-fluid"></span>
		                                            <div class="inner-content">
		                                                <h3 class="title">Step-3</h3>
		                                                <p class="description">
		                                                    Check for the link of the MCQ Test on your registered Mail ID & Watsapp.
		                                                </p>
		                                            </div>
		                                        </a>
		                                    </div>
		                                    <div class="different">
		                                        <a href="#" class="different-content" style="text-decoration:none">
		                                            <span class="year"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/internship-11169766-8957944.png?f=webp" style="height:80px; margin-top:-10px;" class="img-fluid"></span>
		                                            <div class="inner-content" style="margin-left:60px;">
		                                                <h3 class="title">Step-4</h3>
		                                                <p class="description" style="text-decoration:none;">
		                                                    Appear in the Online MCQ Test to grab the Free Internship Opportunity.
		                                                </p>
		                                            </div>
		                                        </a>
		                                    </div>
		                                    <div class="different">
		                                        <a href="#" class="different-content" style="text-decoration:none">
		                                            <span class="year"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/project-task-management-5374060-4496029.png?f=webp" style="height:80px; margin-top:-20px; margin-left:10px;" class="img-fluid"></span>
		                                            <div class="inner-content">
		                                                <h3 class="title">Step-5</h3>
		                                                <p class="description">
		                                                    Do your Internship, complete your project & get globally Certified.
		                                                </p>
		                                            </div>
		                                        </a>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </section>
		                <!--Steps end-->
		            </div>
		            <!--3Section end-->
		            <div class="container-fluid">
		                 <!--sliding cards-->
		                <div class="row" style="justify-content: center;">
		                    <div class="col-sm-10 mt-3 mb-5">
		                        <h5 class="text-center mb-4 fw-bold" style="color:#ef662f; font-size: 30px;">
		                            WHO CAN PARTICIPATE ?
		                        </h5>
		                    </div>
		                    <div class="row mb-4">
		                        <div class="col-sm-12 d-flex" style="justify-content: space-between;">
		                            <div class="cards p-2 shadow" style="width: 23%;justify-content: center;border: 1px solid lightgrey; border-radius: 20px;">
		                               <div class="card-img">
		                                <img src="images/c1.webp" alt="" class="img-fluid">
		                               </div>
		                               <div class="card-text text-center py-2 " style="font-family: calibri;">
		                                <h4 style="color: #ef662f;border-bottom: 1px solid lightgrey;" class="py-3 fw-semibold">Mechanical Engineering</h3>
		                                <b >B-Tech 1-2-3 Year:</b>
		                                <h5 style="font-weight: 400;" class="py-1">Mechanical students can register here</h5>
		                               </div>
		                            </div>
		                            <div class="cards shadow" style="width: 23%;justify-content: center;height: 93%; border: 1px solid lightgrey; border-radius: 20px;">
		                                <div class="card-img">
		                                 <img src="images/c2.jpg" alt="" class="img-fluid" style="border-radius: 20px; height:240px;">
		                                </div>
		                                <div class="card-text text-center py-2 " style="font-family: calibri;">
		                                 <h4 style="color: #ef662f;border-bottom: 1px solid lightgrey;" class="py-3 fw-semibold">CS - AI & ML</h3>
		                                 <b >B-Tech 1-2-3 Year:</b>
		                                 <h5 style="font-weight: 400;" class="">AI & ML students can register here</h5>
		                                </div>
		                             </div>
		                             <div class="cards p-2 shadow" style="width: 23%;justify-content: center;border: 1px solid lightgrey; border-radius: 20px;">
		                                <div class="card-img">
		                                 <img src="images/c3.png" alt="" class="img-fluid">
		                                </div>
		                                <div class="card-text text-center py-2 " style="font-family: calibri;">
		                                 <h4 style="color: #ef662f;border-bottom: 1px solid lightgrey;" class="py-3 fw-semibold">Computer Science <br> & IT</h3>
		                                 <b >B-Tech 1-2-3 Year:</b>
		                                 <h5 style="font-weight: 400;" class="py-1">Computer Science / IT students can register here</h5>
		                                </div>
		                             </div>
		                             <div class="cards p-2 shadow" style="height: 93%; width: 23%;justify-content: center;border: 1px solid lightgrey; border-radius: 20px;">
		                                <div class="card-img">
		                                 <img src="images/c4.png" alt="" class="img-fluid" height="200px">
		                                </div>
		                                <div class="card-text text-center py-2 " style="font-family: calibri;">
		                                 <h4 style="color: #ef662f;border-bottom: 1px solid lightgrey;" class="py-3 fw-semibold">CS - DS</h3>
		                                 <b >B-Tech 1-2-3 Year:</b>
		                                 <h5 style="font-weight: 400;" class="py-1">CS - DS students can register here</h5>
		                                </div>
		                             </div>
		                             
		                        </div>
		                    </div>
		                </div>
		                 <!--sliding cards end-->
		              <!--comments-->
		                <div class="container-fluid">
		                    <div class="row mt-5">
		                        <div class="col-sm-1"></div>
		                        <div class="col-sm-5" style=" padding:40px; color:black;">
		                            <h3 style="margin-bottom:-10px;  color:orangered;" class="fw-bold">
		                                Internship Test Highlights
		                            </h3>
		                            <hr />
		                            <p style="font-size:20px; text-align:left">
		                                <img src="./images/time.png"
		                                     height="50px" />&nbsp;&nbsp;<b style="font-weight:900;">Duration:</b> 60 Minutes
		                            </p>
		                            <p style="font-size:20px; text-align:left">
		                                <img src="./images/skills.png"
		                                     height="50px" />&nbsp;&nbsp;<b>Eligibility:</b> B-Tech Students
		                            </p>
		                            <p style="font-size:20px; text-align:left">
		                                <img src="./images/language.png"
		                                     height="50px" />&nbsp;&nbsp;<b>Medium:</b> English
		                            </p>
		                            <p style="font-size:20px; text-align:left">
		                                <img src="./images/mode.png"
		                                     height="50px" />&nbsp;&nbsp;<b>Mode:</b> Online
		                            </p>
		                            <p style="font-size:20px; text-align:left">
		                                <img src="./images/platfom.png"
		                                     height="50px" />&nbsp;&nbsp;<b>Question Type:</b> MCQ
		                            </p>
		                        </div>
		                        <div class="col-sm-6 mt-3">
		                            <img src="./images/quiz.jpg" height="520px" class="img-fluid"/>
		                        </div>
		                    </div>
		                </div>
		                <!--1Section-->
		            </div>
		        </div>
		    </div>
		    <!--Content Section-->
		    <div class="container">
		        <div class="row mt-5 mb-5">
		            <div class="col-sm-5 text-center w100 wp1">
		                <img src="images/photu.png" height="420px" class="img-fluid" alt="">
		            </div>
		            <div class="col-sm-7">
		                <h2 style="margin-top: 60px; font-weight: 700; color:#ef662f">
		                    Our Internship Features</h5>
		                    <hr>
		                    <ol>
		                        <li>Technology Lectures by Softpro Experts having minimum 10 Year of Experience.</li>
		                        <li>
		                            Bonus Lectures by Experts from Industry like Google, IBM, Indiabulls, HCL, TCS, LMRC,
		                            Ansal, DLF, Pepsi Co, Oracle, Paypal, Mitsubishi, Amazon, Apple and more.
		                        </li>
		                        <li>
		                            30 Days Live Instructor Led Classroom / online Sessions daily, with 15 Days Extra
		                            grace time to access the account for recovery & practice.
		                        </li>
		                        <li>
		                            E-Notes in form of E-Books, Presentations, Videos designed by Industry Experts with
		                            Self-Assessment Tools and daily evaluation.
		                            Class Recordings of each Live Class.
		                        </li>
		                        <li> Daily Tasks & Assignments for more practice.</li>
		                        <li>Industry Endorsed Project to be developed by all Interns.</li>
		                        <li>
		                            Assistance in Placement & Certificate of Internship by “Softpro India Computer
		                            Technologies (P) Limited”
		                        </li>
		                    </ol>
		                    <p>
		                </p>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="container">
		    <div class="row">
		        <!-- section 3 -->
		        <h5><span class="fw-bold" style="color: #ef662f;">Internship Session </span> </h5>
		        <hr>
		        <h6 class="fw-bold">a.) Online / Offline Sessions:</h6>
		        <p style="text-align:justify;font-size:17px; color: black; ">
		            The internship will commence with intensive training sessions covering
		            a wide array of topics including but not limited to:
		            i. Programming languages such as Java, Python, PHP, C# etc.
		            ii. Web development frameworks like Django, Spring, Laravel, AngularJS, React, etc.
		            iii. Database management systems and data analytics tools.
		            iv. Emerging technologies such as Artificial Intelligence, Machine Learning, Internet of Things,
		            etc.
		            v. Technologies like IoT, PLC SCADA, Embedded System, AutoCAD, Solidwork & STAAD.PRO
		        </p>
		        <h6 class="fw-bold">b.) Project Work: </h6>
		        <p style="text-align:justify;font-size:17px; color: black;">
		            Following the training period, interns will be assigned to real-world projects under
		            the guidance and mentorship of experienced professionals from Softpro India. This hands-on
		            experience
		            will enable students to apply theoretical concepts in practical scenarios, thereby honing their
		            problem
		            solving skills and enhancing their technical proficiency.
		        </p>
		        <h6 class="fw-bold">c.) Evaluation and Certification: </h6>
		        <p style="text-align:justify;font-size:17px; color: black;">
		            At the conclusion of the internship, students will undergo an
		            assessment to evaluate their performance and proficiency gained during the program. Upon
		            successful
		            completion, participants will receive certificates acknowledging their accomplishments during
		            the
		            internship.
		        </p>
		        <h6 class="fw-bold">d.)Placement Opportunity:</h6>
		        <p style="text-align:justify;font-size:17px; color: black;">
		            Students who will do Internship from Softpro will also be offered
		            Placement Opportunity in their final year.
		            The Free Summer Internship Program by Softpro India presents a unique opportunity for your
		            students
		            to augment their academic learning with practical industry experience, thereby enhancing their
		            employability and fostering their professional growth. We believe that this collaboration will
		            be
		            mutually beneficial for your esteemed institutions and Softpro India, and will pave the way for
		            future
		            partnerships aimed at nurturing talent and driving innovation in the field of technology.
		            We earnestly request your support and cooperation in facilitating the implementation of this
		            Free
		            Internship program.
		        </p>
		        <!-- section 3 -->
		    </div>
		</div>
		<!--2Section-->
		<!--4Section-->
		<div class="container">
		    <div class="row">
		        <div class="col-sm-12 mt-4 col-sm-offset">     
		                <h2 style=" color: #ef662f;" class="fw-bold text-center mt-3">Technologies Offered</h2>
		                <hr>      
		            <p style="text-align:justify;font-size:15px; color:black;" class="text-center">
		                The internship will
		                begin with thorough training sessions covering essential topics relevant to the role.
		                Participants will gain a comprehensive understanding of technical skills, industry practices,
		                and soft skills. Interactive workshops and practical exercises will prepare them to excel in
		                their roles and contribute effectively to the organization.
		            </p>
		            <div class="row  mt-4">
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/datascience.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/ml.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/django.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		            </div>
		            <div class="row mt-4">
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/java.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/net.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/php.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		            </div>
		            <div class="row mt-4">
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/iot.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/embeded.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/pcb.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		            </div>
		            <div class="row mt-4">
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/pcl.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/auto1.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		                <div class="col">
		                    <div class="card">
		                        <img src="./images/auto2.png" class="card-img-top p-2" alt="...">
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- section4 -->
		<!-- section5 -->
		<div class="container" style="margin-bottom: 50px;">
		    <div class="row">
		        <div class="col-sm-12 text-center mt-5 mb-4 fw-bold">       
		                <h2 class="fw-bold mb-2" style="color: #ef662f;">
		                    Training Locations</h4>
		                    <hr>
		        </div>
		    </div>
		    <div class="row d-flex" style="margin-bottom: -30px;">
		        <div class="col-sm-7 mx-auto" style="background-color: #FF9916;">
		            <h4 class="my-auto p-2 text-center fw-bold  fw-bold">Lucknow Locations</h3>
		        </div>
		        <div class=" col-sm-3 mx-auto" style="background-color: #FF9916;">
		            <h4 class="my-auto p-2 text-center fw-bold nouda w100">Noida Location</h3>
		        </div>
		    </div>
		    <div class="row">
		        <div class="row mt-5 ms-2">
		            <div class="col-sm-4 mx-auto">
		                <div class="card shadow-lg text-center border-0">
		                    <img src="./images/house1.jpg"
		                         style="width:100%; height: 245px; margin-bottom:-20px" class="card-img-top p-3" alt="...">
		                    <div class="card-body">
		                        <h5 class="card-title fw-bold"
		                            style="text-align:center; color:orangered; margin-bottom:-10px;">
		                            Softpro House
		                        </h5>
		                        <hr style="margin-bottom:8px;" />
		                        <p class="card-text"
		                           style="font-size:15px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
		                            3/213, Sector J, Jankipuram, Kursi Rd<br /> Near
		                            Gudamba Thana, Lucknow
		                        </p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-4">
		                <div class="card text-center shadow-lg border-0">
		                    <img src="./images/acdemy.jpg"
		                         style="width: 100%; height: 245px; margin-bottom:-20px; margin-top: 0px;"
		                         class="card-img-top p-3" alt="...">
		                    <div class="card-body text-center">
		                        <h5 class="card-title fw-bold"
		                            style="text-align: center; color: orangered; margin-bottom: -10px;">
		                            Softpro India Full
		                            Stack Academy
		                        </h5>
		                        <hr />
		                        <p class="card-text text-center"
		                           style="font-size:15px; margin-top:-10px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
		                            Pushpi Tower ,Chinhat Tiraha, Vijayant Khand
		                            <br />
		                            Gomti Nagar, Lucknow
		                        </p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-4">
		                <div class="card shadow-lg border-0 text-center">
		                    <img src="./images/its.jpg" style="width:100%; height:245px; margin-bottom:-20px;"
		                         class="card-img-top p-3" alt="...">
		                    <div class="card-body">
		                        <h5 class="card-title fw-bold" style="color: orangered; margin-bottom: -10px;">
		                            Softpro Skill
		                            Development Center
		                        </h5>
		                        <hr />
		                        <p class="card-text"
		                           style="font-size:15px; margin-top:-10px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
		                            I.T.S Campus, Knowledge Park III, Pari Chowk, Greater NOIDA
		                        </p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- section5 -->
		<!--4Section-->
		<!--Online Section -->
		<div class="container text-center">
		    <h2 class="fw-bold mb-1" style="color:orangered;">Online Training Mode</h2>
		    <h3>POLYPREP, A Learning Management System By Softpro India</h3>
		    <div class="row shadow-lg mt-3 mb-4 pt-4 pb-4">
		        <div class="col-sm-6 mb-1">
		            <img src=" https://www.linkurcodes.com/images/resource/upcoming.png" style="height:350px;" class="img-fluid"/>
		        </div>
		        <div class="col-sm-6 my-auto p-4" style="margin-left:-30px; background-color:darkorange;">
		            <h4 class="fw-bold">
		                Online Training Division of Softpro LMS Polyprep
		            </h4>
		            <p>Enroll, Learn, Grow !!!   Get ready to achieve your learning goals with Softpro by doing Online Summer Internship at Polyprep, An LMS by Softpro.</p>  
		        </div>
		    </div>
		</div>
	</section>
</body>
</html>